.bannerSection {
  padding: 25px 0px;
  padding-bottom: 0px;
  display: grid;
  gap: 15px;
  justify-content: center; /* Thêm dòng này */
}

.bannerSection .col_ {
  width: 150%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerSection .box {
  width: 120%;
  /* max-width: 800px; */ /* Bỏ hoặc tăng lên 1000px */
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.bannerSection .box img {
  width: 120%;
  max-width: none;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.bannerSection .box:hover img {
  transform: scale(1.1);
}

.bannerAds img {
  width: 1500px;
  object-fit: contain;
}
